<h2>Search</h2>

<div class="block1">
  <p><a href="/search/events">Search Events</a></p>
  <p><a href="/search/patrons">Search Patrons</a></p>
  <p><a href="/search/drinks">Search Drinks</a></p>
  <p><a href="/search/films">Search Films</a></p>
</div>